<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>
<h1>Новый пользователь</h1>

<form th:action="@{/admin}" method="post">
    <input type="text" name="username" placeholder="Логин" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <input type="text" name="lastname" placeholder="Фамилия" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="number" name="age" placeholder="Возраст" required>

    <!-- Выбор ролей -->
    <div>
        <h3>Роли:</h3>
        <div th:each="role : ${allRoles}">
            <input type="checkbox"
                   name="selectedRoles"
                   th:value="${role.id}"
                   th:id="${'role_' + role.id}">
            <label th:for="${'role_' + role.id}" th:text="${role.name}"></label>
        </div>
    </div>

    <button type="submit">Сохранить</button>
</form>
</body>
</html>