<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CarList</title>
    <style>
        table { border-collapse: collapse; width: 70%; margin: 20px auto; }
        th, td { border: 1px solid #030403; padding: 20px; text-align: left; }
        th { background-color: #ffffff; }
        h1 { text-align: center; }
    </style>
</head>
<body>
<h1>Car List </h1>
<table>
    <thead>
    <tr>
        <th>Model</th>
        <th>Color</th>
        <th>Year</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.model}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.year}"></td>
        <td th:text="${car.price}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>